       <!-- head section -->
        <section class="content-top-margin page-title page-title-small border-top-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">Embajadores</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-md-4 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
                            <li><%= link_to Spree.t(:'Inicio'), spree.root_path %> </li>
                            <li>Embajadores</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end head section -->

        <!-- content section --> 
        <section id="slider" class="wow fadeIn fix-background ambassadors_1 >
            <div class="opacity-full bg-dark-gray"></div>

            </div>
        </section>
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- testimonials item -->
                    <div class="col-md-4 col-sm-6 testimonial-style2 text-center wow fadeInUp margin-ten no-margin-top">
                        <img src="http://placehold.it/300x300" alt=""/>
                        <p class="center-col width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <span class="name black-text">Alexander Harvard - Google</span>
                        <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                    </div>
                    <!-- end testimonials item -->
                    <!-- testimonials item -->
                    <div class="col-md-4 col-sm-6 testimonial-style2 text-center wow fadeInUp margin-ten no-margin-top">
                        <img src="http://placehold.it/300x300" alt=""/>
                        <p class="center-col width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <span class="name black-text">Herman Miller - Apple</span>
                        <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                    </div>
                    <!-- end testimonials item -->
                    <!-- testimonials item -->
                    <div class="col-md-4 col-sm-6 testimonial-style2 text-center wow fadeInUp margin-ten no-margin-top">
                        <img src="http://placehold.it/300x300" alt=""/>
                        <p class="center-col width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <span class="name black-text">Bryan Jonhson - Yahoo</span>
                        <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                    </div>
                    <!-- end testimonials item -->
                    <!-- testimonials item -->
                    <div class="col-md-4 col-sm-6 testimonial-style2 text-center wow fadeInUp sm-margin-bottom-ten">
                        <img src="http://placehold.it/300x300" alt=""/>
                        <p class="center-col width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <span class="name black-text">Jeremy Dupont - Apple</span>
                        <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                    </div>
                    <!-- end testimonials item -->
                    <!-- testimonials item -->
                    <div class="col-md-4 col-sm-6 testimonial-style2 text-center wow fadeInUp xs-margin-bottom-ten">
                        <img src="http://placehold.it/300x300" alt=""/>
                        <p class="center-col width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <span class="name black-text">Steve Anders - Facebook</span>
                        <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                    </div>
                    <!-- end testimonials item -->
                    <!-- testimonials item -->
                    <div class="col-md-4 col-sm-6 testimonial-style2 text-center wow fadeInUp">
                        <img src="http://placehold.it/300x300" alt=""/>
                        <p class="center-col width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                        <span class="name black-text">Bryan Johnson - Apple</span>
                        <i class="fa fa-quote-left small-icon yellow-text display-block margin-five no-margin-bottom"></i>
                    </div>
                    <!-- end testimonials item -->
                </div>
            </div>
        </section>
        <section class="wow fadeIn cover-background ambassadors_2">
            <div class="opacity-medium bg-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-8 center-col text-center position-relative">
                        <p class="title-med text-uppercase letter-spacing-1 white-text font-weight-600 wow bounceIn"><br> Opiniones Felices</p>
                        <p class="text-large margin-ten no-margin-bottom light-gray-text wow fadeInUp">Queremos vestir de una forma sostenible sin perder nuestro estilo y nuestra pasión por la moda. Únite a nuestras sonrisas Pislow</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- end content section -->
