        <!-- head section -->
        <section class="content-top-margin page-title page-title-small border-top-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">Trabaja con nosotros</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-md-4 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
                            <li><%= link_to Spree.t(:'Inicio'), spree.root_path %> </li>
                            <li>Trabaja con nosotros</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end head section -->

        <!-- content section -->
        <section class="parallax8 parallax-fix no-padding parallax-gray-bg wow fadeIn sm-bg-yellow careers" 
            
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12 pull-right sm-no-padding">
                        <div class="bg-yellow padding-seven">
                            <div class="padding-seven xs-no-padding-left-right">
                                <h1 class="white-text">Nos encanta lo que hacemos,<br>Es nuestra manera de vivir.</h1>
                                <p class="text-large black-text margin-five">Un proyecto apasionante para cambiar el consumo en pro de la sostenibilidad.</p>
                                <p class="text-med black-text margin-five">En nuestro equipo, nos gustan los retos, la moda y la tecnología. Miramos hacia el futuro y queremos que crezcas con nosotros. Únete a nosotros, únete a Pislow </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn xs-no-padding-bottom">
            <div class="container">
                <div class="row">
                    <!-- left part -->
                    <div class="col-md-7 col-sm-6">
                        <!-- jobs opening position -->
                        <div class="clearfix">
                            <div class="col-md-6 col-sm-12 no-padding-left position-relative">
                                <h2 class="font-weight-600">01</h2>
                                <div class="separator-line bg-black no-margin-lr"></div>
                                <p class="text-large black-text letter-spacing-2 no-margin-bottom">HTML/CSS Developer</p>
                                <p class="text-uppercase letter-spacing-1">Experince: 2+ Years</p> 
                                <a class="highlight-button-black-border btn btn-medium" href="#">Apply Now</a>
                                <span class="urgent-job white-text text-uppercase letter-spacing-1 font-weight-600">Hot</span>
                            </div>
                            <div class="col-md-6 col-sm-12 no-padding-left">
                                <p class="black-text"><strong>Overview</strong></p>
                                <p class="margin-one">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <p class="black-text margin-ten no-margin-bottom"><strong>Responsibilities</strong></p>
                                <p class="margin-one">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <!-- end jobs opening position -->
                        <div class="wide-separator-line no-margin-lr margin-ten"></div>
                        <!-- jobs opening position -->
                        <div class="clearfix">
                            <div class="col-md-6 col-sm-12 no-padding-left">
                                <h2 class="font-weight-600">02</h2>
                                <div class="separator-line bg-black no-margin-lr"></div>
                                <p class="text-large black-text letter-spacing-2 no-margin-bottom">Codeigniter Developer</p>
                                <p class="text-uppercase letter-spacing-1">Experince: 4+ Years</p>
                                <a class="highlight-button-black-border btn btn-medium" href="#">Apply Now</a>
                            </div>
                            <div class="col-md-6 col-sm-12 no-padding-left">
                                <p class="black-text"><strong>Overview</strong></p>
                                <p class="margin-one">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <p class="black-text margin-ten no-margin-bottom"><strong>Responsibilities</strong></p>
                                <p class="margin-one">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <!-- end jobs opening position -->
                        <div class="wide-separator-line no-margin-lr margin-ten"></div>
                        <!-- jobs opening position -->
                        <div class="clearfix">
                            <div class="col-md-6 col-sm-12 no-padding-left">
                                <h2 class="font-weight-600">03</h2>
                                <div class="separator-line bg-black no-margin-lr"></div>
                                <p class="text-large black-text letter-spacing-2 no-margin-bottom">iPhone Developer</p>
                                <p class="text-uppercase letter-spacing-1">Experince: 3+ Years</p>
                                <a class="highlight-button-black-border btn btn-medium" href="#">Apply Now</a>
                            </div>
                            <div class="col-md-6 col-sm-12 no-padding-left">
                                <p class="black-text"><strong>Overview</strong></p>
                                <p class="margin-one">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                <p class="black-text margin-ten no-margin-bottom"><strong>Responsibilities</strong></p>
                                <p class="margin-one">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                        <!-- end jobs opening position -->
                    </div>
                    <!-- end left part -->
                    <!-- right part -->
                    <div class="col-md-4 col-sm-6 col-md-offset-1 bg-gray career-form xs-margin-top-ten">
                        <p class="title-small text-uppercase black-text"><strong>Superhéroes</strong> aplicar aquí  !</p>
                        <p class="text-med margin-five">Te diremos algo en menos de 48 horas.</p>
                        <div class="separator-line bg-black no-margin-lr margin-ten"></div>
                        <!-- form -->
                        <form id="careersform" action="javascript:void(0)" method="post">
                            <div id="success" class="no-margin-lr"></div>
                            <div class="form-group no-margin-bottom">
                                <!-- label -->
                                <label class="text-uppercase">Tu nombre</label>
                                <!-- end label -->
                                <!-- input -->
                                <input type="text" id="name" name="name" class="input-round med-input">
                                <!-- end input -->
                            </div>
                            <div class="form-group no-margin-bottom">
                                <!-- label -->
                                <label class="text-uppercase">Email</label>
                                <!-- end label -->
                                <!-- input -->
                                <input type="text" name="email" id="email"  class="input-round med-input">
                                <!-- end input -->
                            </div>
                            <div class="form-group no-margin-bottom">
                                <!-- label -->
                                <label class="text-uppercase">Position</label>
                                <!-- end label -->
                                <!-- select -->
                                <div class="select-style input-round med-input">
                                    <select id="selectposition" name="selectposition">
                                        <option value="">Selecciona Posición</option>
                                        <option value="HTML/CSS Developer">HTML/CSS Desarrollador</option>
                                        <option value="Codeigniter Developer">Ruby on Rails Desarrollador</option>
                                        <option value="iPhone Developer">Móvil Desarrollador</option>
                                        <option value="Designer">Diseñador</option>
                                        <option value="PHP Developer">Ruby Desarrollador</option>
                                    </select>
                                </div>
                                <!-- end select -->
                            </div>
                            <div class="form-group no-margin-bottom">
                                <!-- label -->
                                <label class="text-uppercase">Mensaje</label>
                                <!-- end label -->
                                <!-- textarea -->
                                <textarea id="comment" name="comment" class="input-round med-input"></textarea>
                                <!-- end textarea -->
                            </div>
                            <div class="form-group no-margin-bottom">
                                <!-- required  -->
                                <span class="required margin-three">*Por favor completa todos los campos correctamente</span>
                                <!-- end required  -->
                                <!-- button  -->
                                <button id="careers-button" class="highlight-button-dark btn btn-small button xs-margin-bottom-five" type="submit">Enviar</button>
                                <!-- end button  -->
                            </div>
                        </form>
                        <!-- end form -->
                    </div>
                    <!-- end right part -->
                </div>
            </div>
        </section>
        <!-- end content section -->
