        <!-- head section -->
        <section class="content-top-margin page-title page-title-small border-top-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 wow fadeInUp" data-wow-duration="300ms">
                        <!-- page title -->
                        <h1 class="black-text">FAQ'S</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-md-4 col-sm-12 breadcrumb text-uppercase wow fadeInUp xs-display-none" data-wow-duration="600ms">
                        <!-- breadcrumb -->
                        <ul>
                            <li><%= link_to Spree.t(:'Inicio'), spree.root_path %> </li>
  
                            <li>FAQ'S</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end head section -->

        <!-- content section -->
        <section class="wow fadeIn bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 wow fadeInUp center-col text-center">
                        <h1 class="white-text">Hola, Podemos ayudarte?</h1>
                        <div class="faq-search margin-five no-margin-bottom position-relative">
                            <input type="text" name="search" class="input-round big-input no-margin" placeholder="Mi consulta es ...">
                            <i class="fa fa-search faq-search-button"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="col-md-12 col-sm-12 no-padding">
                            <div class="margin-ten no-margin-top sm-margin-bottom-seven">
                                <p class="text-large font-weight-600 black-text"><i class="icon-laptop small-icon vertical-align-middle"></i> Guia de uso</p>
                            </div>
                            <div class="panel-group toggles-style3 no-border">
                                <!-- faq item -->
                                <div class="panel panel-default" id="collapse-one">
                                    <div role="tablist" id="headingOne" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link1"><h4 class="panel-title">Lorem Ipsum is simply text printing?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="headingTwo" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link2"><h4 class="panel-title">Lorem Ipsum is simply dummy?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="headingThree" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-one" href="#collapse-one-link3"><h4 class="panel-title">Lorem Ipsum is simply dummy text?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-one-link3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-md-offset-1">
                        <div class="col-md-12 col-sm-12 no-padding">
                            <div class="margin-ten no-margin-top sm-margin-top-ten sm-margin-bottom-seven">
                                <p class="text-large font-weight-600 black-text"><i class="icon-hotairballoon small-icon vertical-align-middle"></i> System Administration</p>
                            </div>
                            <div class="panel-group toggles-style3 no-border">
                                <!-- faq item -->
                                <div class="panel panel-default" id="collapse-three">
                                    <div role="tablist" id="type2-headingOne" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link1"><h4 class="panel-title">Lorem Ipsum is simply dummy printing?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link1" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type2-headingTwo" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link2"><h4 class="panel-title">Lorem Ipsum is simply dummy?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type2-headingThree" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link3"><h4 class="panel-title">Lorem Ipsum is simply dummy text?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type2-headingFour" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link4"><h4 class="panel-title">Lorem Ipsum is simply?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type2-headingFive" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link5"><h4 class="panel-title">Lorem Ipsum is simply dummy printing?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link5" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type2-headingSix" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link6"><h4 class="panel-title">Lorem Ipsum is simply dummy?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link6" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type2-headingSeven" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link7"><h4 class="panel-title">Lorem Ipsum is simply dummy text?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link7" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                                <!-- faq item -->
                                <div class="panel panel-default">
                                    <div role="tablist" id="type2-headingEight" class="panel-heading">
                                        <a data-toggle="collapse" data-parent="#collapse-three" href="#collapse-three-link8"><h4 class="panel-title">Lorem Ipsum is simply dummy text?<span class="pull-right"><i class="fa fa-plus"></i></span></h4></a>
                                    </div>
                                    <div id="collapse-three-link8" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        </div>
                                    </div>
                                </div>
                                <!-- end faq item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end content section -->
