        <!-- head section -->
        <section class="page-title parallax3 parallax-fix page-title-large">
            <div class="opacity-medium bg-black"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center animated fadeInUp">
                        <div class="separator-line bg-yellow no-margin-top margin-four"></div>
                        <!-- page title -->
                        <h1 class="white-text">Pislow Magazine</h1>
                        <!-- end page title -->
                        <!-- page title tagline -->
                        <span class="white-text">Sigue las tendencias de moda y estilo con nosotros.</span>
                        <!-- end title tagline -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end head section -->

        <!-- portfolio section -->
        <section class="work-2col gutter work-with-title wide wide-title no-margin-top content-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center" >
                        <div class="text-center">
                            <!-- work filter -->
                            <ul class="portfolio-filter nav nav-tabs nav-tabs-light wow fadeInUp">
                                <li class="nav active"><a href="#" data-filter="*">All</a></li>
                                <li class="nav"><a href="#" data-filter=".magento">Magento</a></li>
                                <li class="nav"><a href="#" data-filter=".jquery">Jquery</a></li>
                                <li class="nav"><a href="#" data-filter=".wordpress">Wordpress</a></li>
                                <li class="nav"><a href="#" data-filter=".html">HTML</a></li>
                            </ul>
                            <!-- end work filter -->
                        </div>
                    </div>
                    <div class="col-md-12 grid-gallery overflow-hidden no-padding" >
                        <div class="tab-content">
                            <!-- work grid -->
                            <ul class="grid masonry-items">
                                <!-- work item ( external page ) -->
                                <li class="html jquery wordpress">
                                    <figure>
                                        <div class="gallery-img"><a href="single-project-page1.html"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <i class="icon-attachment"></i>
                                            <h3><a href="single-project-page1.html">Herbal Beauty Salon</a></h3>
                                            <p>External Page</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item ( lightbox gallery ) -->
                                <li class="html magento wordpress lightbox-gallery">
                                    <figure>
                                        <div class="gallery-img"><a href="http://placehold.it/1200x800" title=""><img src="http://placehold.it/800x500" alt=""></a><a href="http://placehold.it/1200x800" title=""></a><a href="http://placehold.it/1200x800" title=""></a></div>
                                        <figcaption>
                                            <i class="icon-camera"></i>
                                            <h3><a href="http://placehold.it/1200x800" title="">Tailoring Interior</a></h3>
                                            <p>Lightbox gallery</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item ( video lightbox )-->
                                <li class="jquery magento wordpress">
                                    <figure>
                                        <div class="gallery-img"><a class="popup-vimeo" href="https://player.vimeo.com/video/75976293"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <i class="icon-video"></i>
                                            <h3><a class="popup-vimeo" href="https://player.vimeo.com/video/75976293">Pixflow Studio</a></h3>
                                            <p>Video lightbox</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item ( ajax Popup ) -->
                                <li class="wordpress magento jquery">
                                    <figure>
                                        <div class="gallery-img"><a href="onepage-single-project-page2.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <i class="icon-browser"></i>
                                            <h3><a href="onepage-single-project-page2.html" class="simple-ajax-popup-align-top">Kaya Skin Care</a></h3>
                                            <p>Ajax Popup</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html jquery">
                                    <figure>
                                        <div class="gallery-img"><a href="single-project-page5.html"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="single-project-page5.html">Third Eye Glasses</a></h3>
                                            <p>Logo &amp; Brochure</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="single-project-page1.html"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="single-project-page1.html">Rubber Studio</a></h3>
                                            <p>Branding &amp; Identity</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="magento jquery">
                                    <figure>
                                        <div class="gallery-img"><a href="single-project-page2.html"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="single-project-page2.html">Brando Media</a></h3>
                                            <p>Logo &amp; Brochure</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="single-project-page3.html"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="single-project-page3.html">Hidden Code</a></h3>
                                            <p>Branding &amp; Identity</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html jquery">
                                    <figure>
                                        <div class="gallery-img"><a href="single-project-page4.html"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="single-project-page4.html">Design Blast</a></h3>
                                            <p>Logo &amp; Brochure</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                                <!-- work item -->
                                <li class="html magento">
                                    <figure>
                                        <div class="gallery-img"><a href="single-project-page5.html"><img src="http://placehold.it/800x500" alt=""></a></div>
                                        <figcaption>
                                            <h3><a href="single-project-page5.html">Abstract Craft</a></h3>
                                            <p>Branding &amp; Identity</p>
                                        </figcaption>
                                    </figure>
                                </li>
                                <!-- end work item -->
                            </ul>
                            <!-- end work grid -->
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end portfolio section -->

        <!-- new project -->
        <section class="new-project no-padding-top">
            <div class="container">
                <div class="row center-col text-center wow fadeInUp">
                    <div class="separator-line bg-yellow no-margin-top margin-five"></div>
                    <h5>Nos encanta la moda como a ti, únete a pislow.</h5>
                    <a class="btn highlight-button-black-border margin-four no-margin-bottom no-margin-lr" href="contact-us.html">Empieza ya</a>
                </div>
            </div>
        </section>
        <!-- end new project -->
