<div class="field four columns checkbox" data-hook="subscribable">
  <%= f.label :secondhand do %>
    <%= f.check_box :secondhand %>
    <%= Spree::Variant.human_attribute_name(:secondhand) %>
  <% end %>
</div>