<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>

         <%  essence =  element.content_by_name('picture').essence %>
      
         <section style="background-image:url('<%= picture.url(essence.ingredient) %>'); background-size:100%; background-repeat: no-repeat" class="wow fadeIn">

            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-6 col-sm-11 center-col text-center">
                        <p class="title-large white-text text-uppercase letter-spacing-2"><strong><%= el.render :headline %></strong><p>
                        <p class="text-large white-text text-uppercase margin-five no-margin-bottom"><%= el.render :text %><p>
                    </div>
                </div>
            </div>
        </section>  
     <%- end -%>
  <%- end -%>
<%- end -%>
