<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
       <% if essence = element.content_by_name('picture').essence %>
         <% picture = show_alchemy_picture_path(essence.ingredient, size: "1200x600", crop: true, crop_from: essence.crop_from, crop_size: essence.crop_size) %>
       <% end %>

         <section style="background-image:url(picture)" class= "wow fadeIn" >

            <div class="opacity-medium bg-dark-gray"></div>
            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-6 col-sm-11 center-col text-center">
                        <p class="title-large white-text text-uppercase letter-spacing-2"><strong><%= el.render :headline %></strong><p>
                        <p class="text-large white-text text-uppercase margin-five no-margin-bottom"><%= el.render :text %><p>
                    </div>
                </div>
            </div>
        </section>  
  <%- end -%>
<%- end -%>
