<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>
    <% essence =  element.content_by_name('picture').essence %>
    <section class="parallax1 parallax-fix full-screen no-padding" style="background-image:url('<%= show_alchemy_picture_url(essence.ingredient) %>'); background-size:100%; background-repeat: no-repeat; background-size: initial; background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; min-height: 600px;">
            
            <div class="container full-screen position-relative" style="min-height: 400px;">
                <div class="slider-typography">
                    <div class="slider-text-middle-main">
                        <div class="slider-text-middle agency-header">
                            <h1 style="font-weight: 700"><%= el.render :headline %></h1>
                            <span class="black-text"><%= el.render :text %></span>
                        </div>
                    </div>
                </div>
            </div>
      </section>
  <%- end -%>
<%- end -%>
