<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>

    <% essence =  element.content_by_name('picture').essence %>      
    <% unless essence.nil? %> 
    <div class="center_glitch" style="background-image:url('<%= show_alchemy_picture_url(essence.ingredient) %>'); background-size:100%; background-repeat: no-repeat; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; min-height: 600px;">

	  <h3 class="center__text_glitch glitch is-glitching" data-text="Magazine" ><%= el.render :headline %></h3>
	</div>
    <%- end -%>
  <%- end -%>
<%- end -%>
