<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>

    <% essence =  element.content_by_name('picture').essence %>      

    <div class="center_glitch">
	  <h3 class="center__text_glitch glitch is-glitching" data-text="Magazine" 
	  style="background-image:url('<%= show_alchemy_picture_url(essence.ingredient) %>')"><%= el.render :headline %></h3>
	</div>
  <%- end -%>
<%- end -%>
