
	<div style="background-color:#dcdcdc; padding:5px; color: #fff !important;     margin-bottom: 5px;
}" >
			<div class="row">
	     <ul>
	      	<a href="http://www.pislow.com/woman" style="color:#9c9c9c !important;padding:20px"> MUJER</a>	
	      	<a href="http://www.pislow.com/men" style="color:#9c9c9c !important;padding:20px">HOMBRE</a>
	      	<a href="http://www.pislow.com/kids" style="color:#9c9c9c !important;padding:20px">NIÑOS</a>
	      	<a href="http://www.pislow.com/sales" style="color:#9c9c9c!important;padding:20px">SALDOS</a>
	      	<a href="http://www.pislow.com/magazine" style="color:#9c9c9c !important;padding:20px">MAGAZINE</a>

	     </ul>
	                    
	</div>
	 </div>               
	 <a href="http://www.pislow.com" id= "logo" style="display: table-cell; padding:10px 15px 0px 15px !important; margin:10px; background-color: #fff !important;}">
	     <%= image_tag '/assets/logo/solidus_logo' %>
	                    
	</div>

